@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}


/* footer{
    transform: translate(-50%, -1%);
} */

.gridPercentage{
    padding: 0 20% 0 20%;
}

@media (max-width: 768px){
    .gridPercentage{
        padding: 0 5% 0 5%;
    }
}

@media (max-width: 576px){
    .gridPercentage{
        padding: 0 2% 0 2%;
    }
}
.datePicker{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.datePicker:focus{
    outline: none;
}

.react-datepicker__input-container{
    display: flex !important;
    justify-content: center !important;
}

.no_highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #el1,#el2,#el3,#el4,#el5,#el6,#el7{
    border-top: 1px solid white;
  }

#el1,#el2,#el3,#el4,#el5,#el6,#el7,
#el8,#el9,#el10,#el11,#el12,#el13,#el14,
#el15,#el16,#el17,#el18,#el19,#el20,#el21,
#el22,#el23,#el24,#el25,#el26,#el27,#el28,
#el29,#el30,#el31{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#el1,#el8,#el15,#el22,#el29{
    border-left: 1px solid white;
}
#el7,#el14,#el21,#el28,#el31{
    border-right: 1px solid white;
}
#el25,#el26,#el27,#el28,#el29,#el30,#el31{
    border-bottom: 1px solid white;
}